version: '3.8'

services:
  minio:
    image: minio/minio:latest
    container_name: hng-minio
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ['CMD', 'mc', 'ready', 'local']
      interval: 5s
      timeout: 20s
      retries: 3

  minio-init:
    image: minio/mc:latest
    container_name: hng-minio-init
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 minioadmin minioadmin;
      mc mb local/documents --ignore-existing;
      mc anonymous set public local/documents;
      exit 0;
      "

volumes:
  minio-data:
    driver: local
